<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Page de Transition</title>
  <link rel="stylesheet" href="/assets/css/transition.css">
</head>
<body>
    <div class="background-image">
            <img class="image" src="/assets/images/perenoel.png" alt="votre combatant">
            <img class="image" src="/assets/images/versus.png" alt="versus">
            <img class="image" src="/assets/images/adversaire.png" alt="adversaire">
        <div><a href="/wishlist">
            <button name="submit" type="submit" class="bouton-image"></button></a>
        </div>
    </div> 
</body>
</html>