<form method="post" action="pseudo/add" class="pseudo">
	<div class="uk-margin">
		<input name="pseudo" class="uk-input uk-form-width-medium" type="text" placeholder=" Rentrez votre pseudo: ">
	</div>
	<div class="uk-container button-connexion">
		<button type="submit" class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"><img class="button-image" src="/assets/images/accueil/Lets_go.png" alt="Let's go !"></button>
	</div>
</form>
