<form method="post" action="pseudo/add" class="pseudo">
	<div class="uk-margin">
		<input name="pseudo" class="uk-input uk-form-width-medium" type="text" placeholder=" Rentrez votre pseudo: ">
	</div>
	<div class="uk-container button-connexion">
		<button type="submit" class="uk-button-large">Validez votre pseudo</button>
	</div>
</form>
