
.uk-heading-small {
    text-align: center;
    font-family: var(--main-font);
    padding-top: 1rem;
}

.uk-container {
    text-align: center;
}

.uk-text-large {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: #333333;
    box-shadow: 10px 10px 15px #696567;
    padding: 1.5rem;
    margin: 0 3rem 0 5rem;
}

.swiper {
    width: 100%;
    height: 200px;
    background-color: var(--main-color);
    opacity: .7;
    margin-top: 2rem;
}

.swiper-slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lw-div-accueil {
    text-align: center;
}

.button-accueil-resa {
    padding-top: calc(var(--padding)*3);
    padding-bottom: calc(var(--padding)*3);
}

.lw-text-large {
    padding-top: calc(var(--padding)*2);
}

.body {
    background-image: url(/assets/images/accueil/background-flocon.jpg);
    background-size: 100%;
}


