.swiper {
    width: 100%;
    height: 500px;
    background-color: var(--main-color);
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    paddin
}

.lw-div-accueil {
    text-align: center;
}

.uk-heading-small {
    font-family: var(--main-font);
    padding-bottom: calc(var(--padding)*4);
}

.swiper-button-next,
.swiper-button-prev {
    color:white;
    background-color:var(--main-color): 
}

.button-accueil-resa {
    padding-top: calc(var(--padding)*3);
    padding-bottom: calc(var(--padding)*3);
}

.lw-text-large {
    padding-top: calc(var(--padding)*2);
}

.body {
    size: 2rem;
    background-color: var(--background);
}


