{% extends "layout.html.twig" %}

{% block content %}

	<div class="titre-wishlist-container">
		<h1 class="titre-wishlist">Eh non! C'est une blaaaaaague!!!</h1>
		<p class="text-wishlist">Voici la wishlist de Noël de la femme de tes rêves !
			<br>Mon cher mari adoré, tu as besoin de te détendre? Tu as passé une mauvaise année? Je te comprends. Car moi aussi !
			<br>Je te propose quelques suggestions de cadeaux, à faire en amoureux, ou pas ! Bisous !<br>
        </p></br>
    </div>
    	<div class="images">
				<div class="img1"><img src="/assets/images/polynesia.jpg" alt="Polynesie"/></div>
				<div class="img2"><img src="/assets/images/massage.jpg" alt="Massage"/></div>
				<div class="img3"><img src="/assets/images/robot.jpg" alt="Robot patissier"/></div>
				<div class="img4"><img src="/assets/images/grece.jpg" alt="Grèce"/></div>
				<div class="img5"><img src="/assets/images/concert.jpg" alt="Concert"/></div>
				<div class="img6"><img src="/assets/images/montagne.jpg" alt="Montagne"/></div>
				<div class="img7"><img src="/assets/images/shopping.jpg" alt="Shopping"/></div>
			</div>
{% endblock %}

